//Text
$main_bg_color: #131313;
$default_text_color: #fff;

//Font
$main_font: "Montserrat", sans-serif;
$second_font: "Mulish", sans-serif;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$upper-text: uppercase;
