section.news
	.container
		h2.news__title.title Карточки
		#news.news__grid
		button#news_more_btn.news__more-button.button
			span.button__text Загрузить еще
			span.button__spinner
				span.button__spinner-inner
