section.promo
	.promo__overlay
		.container
			h1.promo__title.title Полет Илона Маска и DOGIE COIN
			.promo__descr В прошлый четверг все офигели от полета DOGIE COIN на марс.
			button.promo__button.button
				span Оставить заявку
